[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/store-microservices/client-gateway.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = git@github.com:store-microservices/orders-ms.git
[submodule "products-microservice"]
	path = products-microservice
	url = git@github.com:store-microservices/products-ms.git
